@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


  :root {
    --background: 277 30% 95%;
    --foreground: 277 5% 10%;
    --card: 277 30% 90%;
    --card-foreground: 277 5% 12%;
    --popover: 277 30% 95%;
    --popover-foreground: 277 95% 10%;
    --primary: 277 96% 86%;
    --primary-foreground: 0 0% 0%;
    --secondary: 277 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 239 30% 85%;
    --muted-foreground: 277 5% 35%;
    --accent: 239 30% 80%;
    --accent-foreground: 277 5% 12%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 277 5% 90%;
    --border: 277 30% 50%;
    --input: 277 30% 18%;
    --ring: 277 96% 86%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 277 30% 10%;
    --foreground: 277 5% 90%;
    --card: 277 30% 10%;
    --card-foreground: 277 5% 90%;
    --popover: 277 30% 5%;
    --popover-foreground: 277 5% 90%;
    --primary: 277 96% 86%;
    --primary-foreground: 0 0% 0%;
    --secondary: 277 30% 12%;
    --secondary-foreground: 0 0% 100%;
    --muted: 239 30% 15%;
    --muted-foreground: 277 5% 60%;
    --accent: 239 30% 15%;
    --accent-foreground: 277 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 277 5% 90%;
    --border: 277 30% 18%;
    --input: 277 30% 18%;
    --ring: 277 96% 86%;
    --radius: 0.75rem;
  }



}

@layer base {
  * {
    text-size-adjust: 100%;
    /* For Safari and other WebKit browsers */
    -webkit-text-size-adjust: none;
    /* Standard syntax */
  }

  /* * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    } */
}