@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {



  :root {
    --background: 50.4 99% 99%;
    --foreground: 50.4 5% 10%;
    --card: 50.4 50% 99%;
    --card-foreground: 50.4 5% 15%;
    --popover: 50.4 99% 99%;
    --popover-foreground: 50.4 99% 10%;
    --primary: 50.4 97.8% 63.5%;
    --primary-foreground: 0 0% 0%;
    --secondary: 50.4 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 12.399999999999999 30% 95%;
    --muted-foreground: 50.4 5% 40%;
    --accent: 12.399999999999999 30% 90%;
    --accent-foreground: 50.4 5% 15%;
    --destructive: 0 99% 50%;
    --destructive-foreground: 50.4 5% 99%;
    --border: 50.4 30% 82%;
    --input: 50.4 30% 50%;
    --ring: 50.4 97.8% 63.5%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 50.4 50% 10%;
    --foreground: 50.4 5% 99%;
    --card: 50.4 50% 10%;
    --card-foreground: 50.4 5% 99%;
    --popover: 50.4 50% 5%;
    --popover-foreground: 50.4 5% 99%;
    --primary: 50.4 97.8% 63.5%;
    --primary-foreground: 0 0% 0%;
    --secondary: 50.4 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 12.399999999999999 30% 25%;
    --muted-foreground: 50.4 5% 65%;
    --accent: 12.399999999999999 30% 25%;
    --accent-foreground: 50.4 5% 95%;
    --destructive: 0 99% 50%;
    --destructive-foreground: 50.4 5% 99%;
    --border: 50.4 30% 50%;
    --input: 50.4 30% 50%;
    --ring: 50.4 97.8% 63.5%;
    --radius: 0.5rem;
  }




}

@layer base {
  * {
    text-size-adjust: 100%;
    /* For Safari and other WebKit browsers */
    -webkit-text-size-adjust: none;
    /* Standard syntax */
  }

  /* * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    } */
}